$font-footer-color: #c2c2c2;
$font-body-color: white;
$font-header-color: white;
$font-body: "OpenSans-Light";
$background-color: black;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: $background-color;
}

.header-large{
  height:80vh;
}
 .header-small{
    height: auto;
  }
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: lighter;
  }

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-just-center{
  justify-content: center;
}
.flex-align-end{
  align-items: flex-end;
}
.text-align-center{
  text-align: center;
}
.article-wrap:hover :nth-child(1){
  display: block;
}

.article-wrap{
  height: 60vh;

    p{
      display: none;
      color: $font-body-color;
      font-family: $font-body;
      font-size: 1.1em;
      background: rgba(0, 0, 0, 0.6);
    }
    a{
      text-decoration: none;
      color: $font-body-color;
      font-family: $font-body;
    }
}
.load{
  position: fixed;
  z-index: 2000;
  background: rgba(00,00,00,0.9) url("../ajax-loader.gif") no-repeat center;
  // rgba(52,44,44,0.8)
  width: 100%;
  height: 100%;
  display: none;
}
header{
  height: 90vh;
  background: $background-color;
  transition: all 1s;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  transition-timing-function: ease-in-out;
    p{
      font-family: $font-body;
      color: $font-header-color;
    }
}
// header .active{
//   height: auto;
// }
// .header-large{
//   height:80vh;
//   justify-content: center;
// }
// .header-small{
//   height: auto;
// }
footer{
    background: $background-color;
    height: 20vh;
      p{
        font-family: $font-body;
        font-size: 1.8em;
        color: $font-footer-color;
      }
}
.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}
#clone{
  display: none;
  background: $background-color;
    p{
      color: $font-body-color;
      font-family: $font-body;
      font-size: 2em;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: auto;
      line-height: 2em;
    }
    a{
      text-decoration: none;
      color: $font-body-color;
      font-family: $font-body;
    }
}
#articleSection{
  background: $background-color;
}

@media only screen and (max-device-width: 600px){

}

@media only screen and (min-device-width: 600px){
  .flex-tablet{
    flex-direction: row;
  }
  .flex-just-start-tablet{
    justify-content: flex-start;
  }

  .flex-grow-tablet{
    flex-grow: 1;
  }
  .flex-just-center-tablet{
    justify-content: center;
  }
  .flex-wrap-tablet{
    flex-wrap: wrap;
  }
  .article-width-tablet{
    width: 33.33%
  }
  .article-height-tablet{
    height: 40vh;
  }
  // .article-bg-size-tablet{
  //   background-size: 25%;
  // }
  .text-align-left-tablet{
    text-align: left;
  }
}

@media only screen and (min-device-width: 1000px){
  .flex-desktop{
    flex-direction: row;
  }
  .flex-just-start-desktop{
    justify-content: flex-start;
  }
  .flex-grow-desktop{
    flex-grow: 1;
  }
  .flex-just-center-desktop{
    justify-content: center;
  }
  .flex-wrap-desktop{
    flex-wrap: wrap;
  }
  .article-width-desktop{
    width: 25%
  }
  .article-height-desktop{
    height: 50vh;
  }

  .text-align-left-tablet{
    text-align: left;
  }
}
