$font-footer-grey = #c2c2c2;
$
$
$
$


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: black;
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("fonts/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: lighter;
  }
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("fonts/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}
.font-body{
  font-family: "OpenSans-Light";
}
.text-transform{
  text-transform: uppercase;
}
.font-grey{
  color: #c2c2c2;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-just-center{
  justify-content: center;
}
.flex-just-between{
  justify-content: space-between;
}
.flex-just-around{
  justify-content: space-around;
}
.flex-align-center{
  align-content: center;
}

.flex-align-baseline{
  align-items: baseline;
}

.flex-grow{
  flex-grow:1;
}
.text-align-center{
  text-align: center;
}

p{
  color: white;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: auto;
  line-height: 2em;
}
a{
  text-decoration: none;
}


.article-wrap{
  height: 70vh;
}

.load{
  position: fixed;
  z-index: 2000;
  background-image: url("ajax-loader.gif");
  background-size: 20%;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  width: 100%;
  height: 100%;
  background-color: rgba(52,44,44,0.8);
  display: none;
}

header{
  background-color: black;
  color: white;
}
.header-large{
  height:80vh;
  justify-content: center;
}
.header-small{
  height: auto;
}

footer{

    $background-black

    p{font-family: $body-font;
    color: $font-footer-grey}

  height: 20vh;
  background-color: black;
  color: white;
}

.padding-20{
  padding: 20px;
}
.padding-30{
  padding: 30px;
}


#clone{
  display: none;
  background-color: black;
}
#articleSection{
  background-color: black;
}
