* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.flex-just-center{
  justify-content: center;
}
.flex-just-between{
  justify-content: space-between;
}
.flex-just-around{
  justify-content: space-around;
}
.flex-align-center{
  align-content: center;
}

.flex-align-baseline{
  align-items: baseline;
}

.flex-grow{
  flex-grow:1;
}
.text-align-center{
  text-align: center;
}

p{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: auto;
  line-height: 2em;
}
a{
  text-decoration: none;
}


.article-wrap{
  height:70vh;
  width: 100%;
  background-position: center;
}

header{
  height: auto;
  background-color: black;
  color: white;
}

.padding{
  padding: 20px;
}

#clone{
  display: none;
}
